.weather-app {
  max-width: 600px;
  margin: 10px auto;
  padding: 20px;
  border: 2px solid rgba(63, 50, 121, 0.411);
  border-radius: 10px;
  box-shadow: 0px 4px 20px 6px rgba(0, 0, 0, 0.3);
}

.current-temp {
  color: rgba(30, 26, 87, 0.904);
  font-size: 48px;
  font-weight: 300px;
  margin-bottom: 0px;
  position: relative;
  left: 10px;
  top: 32px;
}

.current-conditions {
  position: relative;
  top: 30px;
  left: 10px;
}
.unit {
  font-size: 14px;
  font-weight: 100px;
  line-height: 15px;
  position: relative;
  top: 10px;
  left: 10px;
  text-decoration: none;
}
.unit.active {
  font-size: 14px;
  font-weight: 100px;
  line-height: 15px;
  position: relative;
  top: 10px;
  left: 10px;
  color: rgba(30, 26, 87, 0.904);
  text-decoration: none;
  cursor: default;
}

.feels-like {
  font-size: 12px;
  font-weight: 100px;
  line-height: 15px;
  position: relative;
  top: -4px;
  left: 0px;
}

.current-icon {
  margin: 10px;
  height: 100px;
  width: 100px;
  position: relative;
  left: 10px;
  top: 22px;
}

.forecast-temperature-max {
  font-weight: bolder;
}

.weather-forecast-days {
  margin: 0px, auto;
  padding: 0px;
  position: relative;
  right: -30px;
  line-height: 36px;
}

.weather-forecast {
  margin: 0px, auto;
  padding: 0px;
  width: auto;
  line-height: 20px;
  text-align: left;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.my-video {
  background: url(https://coverr.co/videos/cloudy-sky-2v00OhJpqE);
  position: fixed;
  right: 0px;
  bottom: 0px;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.25;
}

h1 {
  color: rgba(30, 26, 87, 0.904);
  font-size: 38px;
  line-height: 33px;
  font-weight: 300px;
  margin-bottom: 0px;
}

h2 {
  color: rgba(56, 55, 65, 0.76);
  font-size: 22px;
  font-weight: 200px;
  line-height: 18px;
  display: inline;
  float: right;
  position: relative;
  top: -28px;
  right: 20px;
}

h3 {
  color: rgba(56, 55, 65, 0.76);
  font-size: 18px;
  font-weight: 200px;
  line-height: 21px;
  text-transform: capitalize;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 16px;
  font-weight: 100px;
  line-height: 20px;
  position: relative;
  right: -40px;
  text-transform: capitalize;
}
small {
  color: rgba(56, 55, 65, 0.76);
  font-size: 12px;
  font-weight: 100px;
  line-height: 15px;
  display: block;
  margin: 10px auto;
  text-align: center;
}
